.form-horizontal .datepicker {
    width: 89px;
}

form {
    margin: 0;
}

fieldset legend {
    margin-bottom: 0;
}

#period label {
    display: inline;
}

#track-criterias .control-group {
    margin-bottom: 0;
}

#track-criterias .btn-group {
    margin-top: .5em;
}

#messageReports .list {
    width: 6%;
}

#messageReports .date {
    width: 8%;
}

#messageReports .recipientCount {
    width: 12%;
    text-align: center;
}

#pagination {
    margin-top: .5em;
}