@(lists: List[cielago.models.ListInfo], criterias: Option[cielago.controllers.TrackRequest], recipientCount: Long, messageReports: List[cielago.models.MessageReport])

@import java.util.Locale
@import java.text.SimpleDateFormat

@import cielago.controllers.Main

@layout("Suivi consommation", Some("stylesheets/track.css"), Some("js/track.js")) {

@defining("dd/MM/yyyy") { pat => 
@defining(new SimpleDateFormat(pat, Locale.FRANCE)) { fmt =>

<div class="row-fluid well" id="track-criterias">
  <form action="@cielago.controllers.routes.Main.index" class="form-horizontal">
    <fieldset>
      <legend>Critères de suivi</legend>

      <div class="control-group">
        <label class="control-label" for="mailinglist">Compte (liste)</label>
        <div class="controls">
          <select id="mailinglist" name="listId" class="combobox"
                  value="@criterias.map(r=>r.listId.map{id=>id})">
            <option></option>
            @for(l <- lists) {
            <option value="@l.listId"
                   @criterias.map(r=>r.listId.map{id=>if(id==l.listId)"selected='selected'"})>@l.accountName</option>
            }
          </select>
        </div>

        <input type="hidden" name="lang" value="fr" />
        <input type="hidden" name="dateFormat" value="@pat" />

        <label class="control-label" for="startDate">Période</label>
        <div class="controls" id="period">
          <input type="date" id="startDate" name="startDate" 
                 data-date-format="@pat.toLowerCase" class="datepicker" 
                 value="@criterias.map(r=>r.startDate.map{d=>fmt.format(d)})" />

          <label for="endDate">au</label>

          <input type="date" id="endDate" name="endDate" 
                 data-date-format="@pat.toLowerCase" class="datepicker" 
                 @criterias.map(r=>r.endDate match{
          case Some(d) => "value='"+fmt.format(d)+"'"
          case None => "disabled='disabled'"
          })

        </div>

        <div class="btn-group">
          <button class="btn">Rechercher</button>
        </div>
      </div>  
    </fieldset>
  </form>
</div>

<div class="page-header">
  <h1>
    Suivi des messages

    <span class="label label-info">
      @if(recipientCount <= 1) {
        @recipientCount envoi
      } else {
        @recipientCount envois
      }
    </span>

    <span class="label" style="margin-left: .5em">
      @if(messageReports.size <= 1) {
        @messageReports.size message
      } else {
        @messageReports.size messages
      }
    </span>
  </h1>
</div>

<table class="table messageReports">
  <thead>
    <tr>
      <th>Liste</th>
      <th>Sujet</th>
      <th>Date</th>
      <th class="recipientCount">Destinataires</th>
    </tr>
  </thead>
  <tbody>
    @for(mr <- messageReports) {
    <tr>
      <td>@mr.list.accountName</td>
      <td>@mr.subject</td>
      <td>@fmt.format(mr.sendTime)</td>
      <td class="recipientCount">@mr.recipientCount</td>
    </tr>
    }
  </tbody>
</table>

}
}

}
