@(lists: List[cielago.models.ListInfo], form: Form[cielago.controllers.TrackRequest], dispatchReport: cielago.models.DispatchReport, messageReports: cielago.models.Paginated[cielago.models.MessageReport])

@import java.util.Locale
@import java.text.SimpleDateFormat

@import cielago.controllers.Main

@templates.authenticated("Suivi consommation", List("bootstrap-datepicker/css/datepicker.min.css", "bootstrap-datatable/css/datatable.min.css", "stylesheets/track.css"), List("js/sort.min.js", "js/track.min.js")) { lang =>
@trackInner(lang, form, dispatchReport) { (locale, jsDatePat, uiDateFmt, startDate, endDate, pageCount) =>

<div class="row-fluid" id="track-criterias">
  @helper.form(action = cielago.controllers.routes.Main.handleForm, 'id -> "trackForm", 'class -> "form-horizontal well") {
  @defining(helper.FieldConstructor(templates.field.f)) { implicit c =>

    <fieldset>
      <legend>Critères de suivi</legend>

      <div class="control-group">
        <label class="control-label" for="mailinglist">Compte (liste)</label>
        <div class="controls">@defining(lists match {
          case Nil => (Nil:List[(String,String)], true)
          case s :: Nil => (List(s.listId->s.accountName), true)
          case lists => 
            (("","") :: lists.map{li=>(li.listId->li.accountName)}, false)
        }) { opts =>
          @if(opts._2) {
            @helper.select(field = form("listId"), options = opts._1, 
              'disabled -> "disabled")
          } else {
            @helper.select(field = form("listId"), options = opts._1)
          }
        }
        </div>

        @helper.input(form("currentPage")) { (id, name, value, args) =>
          <input type="hidden" id="currentPage" 
                 name="currentPage" value="@value" />
          <input type="hidden" name="lang" value="@lang" />
        }
      </div>
      <div class="control-group">
        <label class="control-label" for="startDate">Période</label>
        <div class="controls" id="period">
          @helper.input(form("startDate")) { (_, _, value, _) =>
            @defining(startDate match {
              case None => Map('value -> "")
              case Some(d) => Map('value -> uiDateFmt.format(d))
            }) { attrs =>
            <input type="date" id="startDate" name="start" class="datepicker" 
                   data-date-format="@jsDatePat" 
                   @toHtmlArgs(attrs) />
            }

            <input type="hidden" id="startDateField" 
                   name="startDate" value="@value" />
          }

          <label for="endDate">au</label>

          @helper.input(form("endDate")) { (_, _, value, _) =>
            @defining(endDate match {
              case None => Map('disabled -> "disabled", 'value -> "")
              case Some(d) => Map('value -> uiDateFmt.format(d))
            }) { attrs =>
            <input type="date" id="endDate" name="end" class="datepicker" 
                   data-date-format="@jsDatePat"
                   @toHtmlArgs(attrs) />
            }

            <input type="hidden" id="endDateField" 
                   name="endDate" value="@value" />

          }
        </div>

        <div class="btn-group">
          <button class="btn">Rechercher</button>
        </div>
      </div>  
    </fieldset>
  }<!-- end of FieldConstructor -->
  }<!-- end of form -->
</div>

<div class="page-header">
  <h1>Suivi des messages</h1>

  <div id="summary" style="margin-bottom: 1em">
    <span class="label label-info">
      @if(dispatchReport.recipients <= 1) {
        @dispatchReport.recipients envoi
      } else {
        @dispatchReport.recipients envois
      }
    </span>

    <span class="label" style="margin-left: .5em">
      @if(dispatchReport.messages <= 1) {
        @dispatchReport.messages message
      } else {
        @dispatchReport.messages messages
      }
    </span>
  </div>

  @form.value.map{ tr =>
    @helper.form(action = cielago.controllers.routes.Main.handleForm, 'id -> "paginationForm") {
      @defining(helper.FieldConstructor(templates.field.f)) { implicit c =>
        @helper.input(form("listId")) { (_, _, v, _) =>
        <input type="hidden" name="listId" value="@v" />
        }

        @helper.input(form("startDate")) { (_, _, v, _) =>
        <input type="hidden" name="startDate" value="@v" />
        }

        @helper.input(form("endDate")) { (_, _, v, _) =>
        <input type="hidden" name="endDate" value="@v" />
        }
      }

    <div class="btn-group" id="pagination">
      @for(pi <- 0L until pageCount) {
        @if(pi == -1) {
          <button class="btn btn-inverse" 
                  disabled="disabled" value="@pi">@{pi+1}</button>
        } else {
          <button class="btn" value="@pi">@{pi+1}</button>
        }
      }
    </div>
    }<!-- end of form -->
  }
</div>

<table class="table" id="messageReports" data-form="trackForm">
  <thead>
    <tr>
      <th id="sendTime" class="date sorting">Date</th>
      <th id="listId" class="list sorting">Liste</th>
      <th id="subject" class="subject sorting">Sujet</th>
      <th id="recipientCount" class="recipientCount sorting">Destinataires</th>
    </tr>
  </thead>
  <tbody>
    @for(mr <- messageReports.value) {
    <tr>
      <td>@uiDateFmt.format(mr.sendTime)</td>
      <td>@mr.list.accountName</td>
      <td>@mr.subject</td>
      <td class="recipientCount">@mr.recipientCount</td>
    </tr>
    }
  </tbody>
</table>

<script type="text/javascript">
@messageReports.pagination.map { p => 
@defining(p.order.foldLeft("{}") { (str, c) =>
  str match {
    case "{}" => "{'" + c.column + "':'" + c.direction.code + "'}"
    case s => "{'" + c.column + "':'" + c.direction.code + "'," + s.substring(1)
  }
}) { clauses =>
var _s={clauses: @clauses, columns:{}}
}
}</script>

}
}
